* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  overflow: hidden;
  background-color: rgb(173, 216, 230);
  padding: 0.8rem 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 10px rgba(108, 197, 227, 0.02);
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  gap: 0.5rem;
}

.btn-container img {
  position: relative;
  height: 30px;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: 900;
  font-size: 1rem;
}

.btn-container:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(108, 197, 227);
}

.btn-container:active {
  transform: scale(0.9);
}